<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="{{ get_url(path="styles/main.css", trailing_slash=false) | safe }}">
</head>

<body>
    <header>
        <a href="{{ config.base_url | safe }}" class="title">
            <h2 class="name">{{ config.title }}</h2>
        </a>
        <nav>
            <div class="nav-items">
                <a href="{{ config.base_url | safe }}">Home</a>
                {%- if config.extra.main_menu %}
                {%- for item in config.extra.main_menu %}
                {%- if item.url is matching("https?://") %}
                <a href="{{ item.url | safe }}">{{ item.name | safe }}</a>
                {%- else %}
                <a href="{{ get_url(path=item.url ) | safe }}">{{ item.name | safe }}</a>
                {%- endif %}
                {%- endfor %}
                {%- endif -%}
            </div>
            <button class="theme-toggle" title="Toggle Dark Mode">
                <i data-feather="moon"></i>
            </button>
        </nav>
        <br/>
        <hr/>
    </header>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
    <footer>
        © 2024 Thilak Reddy<br>
        <div class="social-links">
            <a href="https://github.com/thilak009" target="_blank" rel="noopener noreferrer" title="GitHub"
                class="social-icon"><i data-feather="github"></i></a>
            <a href="https://twitter.com/thilak_ch" target="_blank" rel="noopener noreferrer" title="Twitter" class="social-icon"><i
                data-feather="twitter"></i></a>
            <!-- <a href="/posts/atom.xml" target="_blank" rel="noopener noreferrer" title="RSS Feed" class="social-icon"><i
                    data-feather="rss"></i></a> -->
        </div>
    </footer>
    <script>
        feather.replace();
        const themeToggle = document.querySelector('.theme-toggle');
        const currentTheme = localStorage.getItem('theme');

        // Set the initial theme based on user preference or localStorage
        if (currentTheme) {
            document.body.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                themeToggle.innerHTML = '<i data-feather="sun"></i>';
                feather.replace();
            }
        }

        themeToggle.addEventListener('click', function() {
            let theme = 'light';
            
            // Add the transition class
            document.body.classList.add('theme-transition');

            if (document.body.getAttribute('data-theme') !== 'dark') {
                theme = 'dark';
                themeToggle.innerHTML = '<i data-feather="sun"></i>';
            } else {
                themeToggle.innerHTML = '<i data-feather="moon"></i>';
            }
            feather.replace();
            document.body.setAttribute('data-theme', theme);
            localStorage.setItem('theme', theme);

            // Remove the transition class after 0.5s
            setTimeout(() => {
                document.body.classList.remove('theme-transition');
            }, 500);
        });
    </script>
</body>

</html>